<li style="display:flex;">
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>

    <% lists = Array.new%>
    <% friends_user = current_user.friends %>
    <% friends_user.each do |meme| %>
      <% lists.push(meme.id) %>
    <% end %>
    <% lol(user, lists) %>
</li>
