<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <ul>
      <% received_request(@friend_requests) %>
    </ul>
    <% session[:answer] = params[:id] %>
    <%= (link_to "Add friend", user_friendships_path(params[:id]), style: 'color: #0000FF;') %>
  </article>
</section>
